<template>
	<p repeat.for="msg of vm.data" if.bind="msg.text">${msg.user}: ${msg.text}</p>
	<form submit.trigger="createMessage()">
		User:<input type="text" value.bind="vm.message.user"><br><br>
		Msg:<input type="text" value.bind="vm.message.text"><br><br>
		<input type="submit" name="Create">
	</form>
</template>